<!DOCTYPE html>
<html>
<head>
  <title>Jungle</title>
  <link href="https://fonts.googleapis.com/css?family=Anton|Dosis" rel="stylesheet">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  
  <%= csrf_meta_tags %>
</head>
<body>

  <%= render 'layouts/top_nav' %>

  <main class="container">
    <% if flash[:notice] %>
    <div class="alert alert-success" role="alert"><%= flash[:notice] %></div>
    <% end %>
    <% if flash[:alert] %>
    <div class="alert alert-danger" role="alert"><%= flash[:alert] %></div>
    <% end %>
    <%= yield %>
  </main>

  <%= yield :end_of_body %>
</body>
</html>
